<settings>
    <setting name="admin.ip2cUpdateTime" value="[1560148729]"></setting>
    <setting name="*freeroam.welcometextonstart" value='[&quot;true&quot;]'></setting>
    <setting name="*freeroam.spawnmaponstart" value='[&quot;true&quot;]'></setting>
    <setting name="*freeroam.spawnmapondeath" value='[&quot;false&quot;]'></setting>
</settings>
